<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Golden Retriever</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> menu }}
    
    <main>
        <section>
            <h1>Golden Retriever</h1>
            <p>El Golden Retriever es conocido por su carácter amigable y su inteligencia. Es una de las razas más populares debido a su lealtad y amor por la familia. Además, son excelentes perros de trabajo, utilizados en labores de rescate y como perros guía.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/watch?v=o8mZgs1EJP8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </section>
    </main>
    
    {{> footer }}
</body>
</html>
