<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>¿Qué son los perros domésticos?</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> menu }}
    
    <main>
        <section>
            <h1>¿Qué son los perros domésticos?</h1>
            <p>Los perros domésticos son animales que han sido criados y entrenados por humanos para vivir en compañía de las personas. A lo largo de los años, se han desarrollado muchas razas que destacan por sus características específicas, comportamiento y habilidades.</p>
            <img src="/images/perro1.jpg" alt="Imagen de perros domésticos" width="300">
            <img src="/images/perro2.jpeg" alt="Imagen de perros domésticos" width="300">
        </section>
    </main>
    
    {{> footer }}
</body>
</html>
