<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pastor Alemán</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> menu }}
    
    <main>
        <section>
            <h1>Pastor Alemán</h1>
            <p>El Pastor Alemán es una raza de perro reconocida por su inteligencia, lealtad y versatilidad. Son comúnmente utilizados en roles de trabajo como perros de policía, de rescate y de asistencia debido a su gran capacidad de aprendizaje y obediencia.</p>
            
            <table>
                <tr><th>Característica</th><th>Descripción</th></tr>
                <tr><td>Altura</td><td>60-65 cm</td></tr>
                <tr><td>Peso</td><td>30-40 kg</td></tr>
            </table>
            
            <img src="/images/pastor1.jpeg" alt="Pastor Alemán 1" width="300">
            <img src="/images/pastor2.jpg" alt="Pastor Alemán 2" width="300">
        </section>
    </main>
    
    {{> footer }}
</body>
</html>
