<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pequinés</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{> menu }}
    
    <main>
        <section>
            <h1>Pequinés</h1>
            <p>El Pequinés es un perro de tamaño pequeño, conocido por su apariencia elegante y su temperamento leal. Esta raza se originó en China y fue valorada por la nobleza debido a su porte y personalidad.</p>
            
            <table>
                <tr><th>Característica</th><th>Descripción</th></tr>
                <tr><td>Altura</td><td>15-25 cm</td></tr>
                <tr><td>Peso</td><td>3-6 kg</td></tr>
            </table>
            
            <img src="/images/pequines1.jpeg" alt="Pequinés 1" width="300">
            <img src="/images/pequines2.jpeg" alt="Pequinés 2" width="300">
        </section>
    </main>
    
    {{> footer }}
</body>
</html>
